.auth {
    &__modal {
        &-description {
            line-height: 21 / unitless($font-size-base);
            padding-top: rem(15px);
            color: $dusty-gray;
        }

        &-section {
            &--content {
                flex-grow: 1;
            }

            &--footer {
                display: flex;
                flex-shrink: 0;
                justify-content: flex-end;
                padding-top: rem(20px);
            }
        }
    }
}
