.chat-header {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__text {
    display: flex;
    align-items: center;
  }

  &__title {
    margin-right: rem(5px);
    color: $white;
  }

  &__description {
    font-size: rem($font-size-small);
  }

  &__call {
    &-icon {
      @include square(24px);

      color: $white;
      cursor: pointer;
    }
  }
}
