.chat {
  $padding-horizontal: 17px;

  width: 100%;
  height: calc(100vh - #{$padding-horizontal});
  background-color: $white;

  &__section {
    display: flex;

    &--header {
      padding: rem($padding-horizontal) rem(20px);
      background-color: $brand-color;
    }

    &--body {
      height: calc(
        100% - #{rem($padding-horizontal)} * 2 - #{rem($font-size-base)}
      );
    }
  }

  &__col {
    display: flex;
    align-items: center;

    &--sm {
      width: 30%;
    }

    &--lg {
      width: 70%;
    }
  }

  &__title {
    color: $white;
  }

  &__dialogs {
    width: 30%;
    border-right: rem(1px) solid $mercury;
  }

  &__messages {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
}
