.chat {
    width: 100%;
    height: 100%;
    background-color: $white;

    &__section {
        display: flex;

        &--header {
            justify-content: center;
            padding: rem(17px) rem(20px);
            background-color: $brand-color;
        }

        &--body {
            height: 100%;
        }
    }

    &__title {
        color: $white;
    }

    &__dialogs {
        width: 30%;
        border-right: rem(1px) solid $mercury;
    }

    &__messages {
        width: 70%;
    }
}
