.create-message-form {
    @include padding-vertical(10px);

    width: 100%;
    max-width: rem($max-chat-content);
    margin: auto;

    &__row {
        display: flex;
        flex-grow: 1;
    }

    &__textarea {
        @include margin-horizontal(10px);

        flex-grow: 1;
    }
}
