.dialog {
    $horizontal-gutter: 10px;
    $vertical-gutter: 10px;

    display: flex;
    align-items: center;
    padding-top: rem($vertical-gutter);
    padding-left: rem($horizontal-gutter);
    transition: background-color $transition-duration;

    &:hover {
        background-color: rgba($brand-color, .1);
    }

    &--active {
        background-color: $brand-color;
    }

    &__data {
        @include padding-vertical($vertical-gutter);

        flex: 1;
        display: flex;
        justify-content: space-between;
        border-bottom: rem(1px) solid rgba($alto, .5);
    }

    &__text {
        @include margin-horizontal($horizontal-gutter);

        &-title {
            margin-bottom: rem(5px);
        }
    }

    &__info {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        padding-right: rem(10px);

        &-date {
            margin-bottom: rem(5px);
            color: $text-color-light;
        }
    }
}
