.dialogs-modal {
    $padding: 20px;

    &__section {
        margin: rem(-$padding);

        &--header {
            padding: rem($padding);
            background-color: $brand-color;
        }

        &--body {
            flex-grow: 1;
            margin-top: rem($padding);
        }

        &--footer {
            text-align: right;
            padding: rem($padding);
        }
    }

    &__error {
        margin-top: rem(25px);
        text-align: center;

    }

    &__title {
        color: $white;
    }

    &__textarea {
        padding: rem(10px);
    }
}
