.messages {
  position: relative;
  flex-grow: 1;
  overflow-y: auto;
  max-height: rem(540px);

  &__item {
    &--empty {
      position: absolute;
      top: 50%;
      left: 50%;
      display: inline-block;
      margin: 0;
      transform: translate(-50%, -50%);
    }

    &--typing {
      max-width: rem(560px);
      margin: rem(10px) auto;
    }
  }
}
