.users {
  $vertical-gutter: 10px;

  overflow-y: auto;
  max-height: rem(435px);

  &__item {
    @include padding-horizontal(20px);
    @include padding-vertical($vertical-gutter / 2);

    transition: background-color $transition-duration;
    cursor: pointer;

    &:hover {
      background-color: rgba($brand-color, 0.1);
    }

    &--empty {
      padding-top: rem($vertical-gutter * 2);
      color: $grey;
      text-align: center;

      &:hover {
        background-color: transparent;
      }
    }
  }
}
