// Colors
$black: #000000;
$cod-gray: #1b1b1b;
$grey: #808080;
$dusty-gray: #999999;
$silver: #c4c4c4;
$alto: #d7d7d7;
$mercury: #e6e6ee;
$mystic: #e7ebf0;
$concrete: #f2f2f2;
$wild-sand: #f4f4f4;
$white: #ffffff;
$anzac: #d9b34a;
$sunglo: #e2726f;
$puerto-rico: #52c5a9;
$boston-blue: #3f80c6;

$brand-color: $boston-blue;
$text-color: $cod-gray;
$text-color-light: $silver;
$success-color: $puerto-rico;
$warning-color: $anzac;
$error-color: $sunglo;

//fonts
$font-family: 'Roboto', sans-serif;

$font-size-extra-small: 12px;
$font-size-small: 14px;
$font-size-base: 16px;
$font-size-big: 20px;
$font-size-large: 30px;
$font-size-extra-large: 36px;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// transition
$transition-duration-short: 150ms;
$transition-duration: 200ms;
$transition-duration-long: 400ms;

// z-index
$z-index-overlay: 10;
$z-index-notify: 11;

// sizes
$max-chat-content: 560px;
