html {
    -ms-overflow-style: scrollbar;
    background-color: $mystic;
}

body {
    overflow: hidden;
    margin: 0;
}

#root {
    position: relative;
}

html,
body,
#root,
.container {
    height: 100%;
}

*,
::after,
::before {
    box-sizing: border-box;
}

img:-moz-broken{
    opacity: 0;
}

.container {
    max-width: rem(1010px);
    min-width: rem(300px);
    margin: 0 auto;
}
